body {
	background:#cccfff no-repeat center center fixed;
}

#magic {

	background: linear-gradient(transparent, transparent), #cccfff no-repeat center center fixed;
	color: transparent;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
		
	font-size: 100px;
	text-align: center;
	display: inline-block;
	font-weight: bold;
	font-family: "Courier";
	width: 100%;
	margin: 0 auto;
}

.container {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	background: rgb(255, 255, 255);
	opacity: 0.8;
}